.customImageGrid {
  width: 100%;
}

.desktopGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  position: relative;
}

.bw {
  filter: grayscale(100%);
  opacity: 0.7;
}

.itemDisabled {
  position: relative;
  text-align: center;
  filter: grayscale(1);
}
.showMoreButton,
.futureDate {
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4c2b08;
  color: white;
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 0px;
  text-decoration: none;
}

.itemLink {
  position: relative;
  display: block;
}

.showMoreButton {
  display: none;
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4c2b08; /* fondo solicitado */
  color: #fff; /* texto blanco */
  padding: 6px 12px;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Mostrar botón al hacer hover */
.itemLink:hover .showMoreButton {
  display: block;
}

.mobileSlider {
  display: none;
  position: relative;
}

.sliderControls {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.sliderButton {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 18px;
}

/* Responsive: solo slider en móvil */
@media (max-width: 768px) {
  .desktopGrid {
    display: none;
  }
  .mobileSlider {
    display: block;
  }
  .sliderControls {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    position: absolute;
    width: 100%;
    top: 30%;
  }
  .showMoreButton {
    display: block;
  }
  .itemLink img {
    width: 100%;
    height: auto;
    display: block;
  }
}
