/* ===============================
   CONTENEDOR GENERAL
================================ */
.container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

/* ===============================
   IMAGEN
================================ */
.imageWrapper {
  position: relative;
  width: auto;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

/* ===============================
   HOTSPOT (+)
================================ */
.hotspot {
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: #4c2b08; /* marrón elegante */
  color: #fff;
  border-radius: 50%;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
  transform: translate(-50%, -50%);
  z-index: 3;
  transition: transform 0.2s ease;
}

.hotspot:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

/* ===============================
   TOOLTIP
================================ */
.tooltipContent {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  width: 260px;
  padding: 14px;
  border-radius: 6px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.15);
  z-index: 5;
}

.tooltipContent h4 {
  margin: 0 0 10px;
  font-size: 14px;
  font-weight: 600;
}
.tooltip{
  position: absolute;
}

.selectorTitle p{
  font-size: .7rem;
  text-align: center;
  margin: 0px;
  color: #4c2b08;
}
/* ===============================
   TALLAS
================================ */
.bottomArea{
  background-color: transparent!important;
}
.sizeSelector{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.containerSize{
  background-color: #fff6;
  padding:0.5rem 1rem;
}
.sizes {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.sizes button {
  border: 1px solid #ccc;
  background: #fff;
  padding: 6px 10px;
  font-size: 12px;
  cursor: pointer;
}

.sizes button:hover {
  border-color: #000;
}

/* ===============================
   BOTÓN CARRITO
================================ */
.sizes button:last-child {
  width: 100%;
  background-color: #4c2b08;
  color: #fff;
  border: none;
  margin-top: 8px;
  padding: 10px;
}

.linkProduct{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 5px 10px;
  background-color: #4c2b08;
  color: #fff;
  text-decoration: none;
  margin: auto;
  margin-top: 1rem;
}

/* ===============================
   MOBILE
================================ */
@media (max-width: 768px) {

  .imageWrapper {
    overflow-x: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    display: flex;
    flex-direction: column;
  }

  .tooltipContent {
    position: fixed;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 12px 12px 0 0;
  }

  .hotspot {
    width: 24px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
  }
  .container {
    flex-direction: column;
  }
}
